:root {
    --main: #368F90;
}

#onBording {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#background_peta_indonesia {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    animation: fadeIn 4s;
    opacity: 0;
}
#pOnBoarding{
    min-height: 32px;
}
#hOnBoarding{
    min-height: 60px;
}
/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

 */

/* .on-boarding p {
    width: 26ch;
    animation-delay: 2s;
    animation: typingP 3s steps(25), blinkP 1.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
}

.on-boarding h1 {
    width: 26ch;
    animation-delay: 10s;
    animation: typingH1 3s steps(9), blinkH1 1.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid transparent;
}

@keyframes typingP {
    from {
        width: 0ch;
    }
}

@keyframes blinkP {
    50% {
        border-color: transparent
    }
}

@keyframes typingH1 {
    from {
        width: 0ch;
    }
}

@keyframes blinkH1 {
    50% {
        border-color: transparent
    }
} */

header .water-backgorund {
    background-image: url(../images/water_backgorund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header .card{
    box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
}

.explore {
    position: relative;
    height: 85vh;
    width: 100%;
}

.explore::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/explore_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height: 35vh;
    width: 100%;
    background-color: var(--main);
}

.footer * {
    color: white;
    font-family: Rubik;
}

.footer_copy img {
    width: 165px;
    height: auto;
}

.footer_social img {
    width: 32px;
    height: auto;
}