:root {
    --main: #368F90;
    --secondary: #1F6574;
    --btn-blue: #4F94D7;
}

.contact {
    position: relative;
    height: 85vh;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--secondary);
    background-image: url('../images/contact-bg.png');
}

.contact * {
    position: relative;
    font-family: Poppins;
}

.contact_title * {
    color: white;
}

.contact_title h2 {
    opacity: 0.5;
}

.contact_title h1 {
    max-width: 40vw;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.contact_form * {
    margin-bottom: .5rem;
}

.contact_form label, .contact_form button {
    color: white;
}

.contact_form input, .contact_form textarea {
    min-width: 45vw;
    min-height: 3rem;
    margin-bottom: 1rem;
}

.contact_form button {
    height: 3.5rem;
    background-color: var(--btn-blue);
}

.footer {
    height: 40vh;
    width: 100%;
    background-color: var(--main);
}

.footer * {
    color: white;
    font-family: Rubik;
}

.footer_copy img {
    width: 165px;
    height: auto;
}

.footer a {
    width: fit-content;
}

.social img {
    width: 32px;
    height: auto;
}

@media (max-width: 1199px) {
    .footer {
        height: 115vh;
    }

    .footer > div {
        height: 105vh;
        flex-direction: column;
    }
}

@media (max-width: 899px) {
    .contact {
        padding-top: 4rem;
        padding-bottom: 4rem;
        height: max-content;
    }

    .contact > div {
        flex-direction: column;
    }

    .contact_title {
        margin-bottom: 4rem;
    }

    .contact_title h1 {
        max-width: 80vw;
    }
}

@media (max-width:699px) {
    .contact_title h1 {
        max-width: initial;
        font-size: 3.75rem;
    }
}

@media (max-width:549px) {
    .contact_title h2 {
        font-size: 1.85rem;
    }

    .contact_title h1 {
        font-size: 3rem;
    }
}

@media (max-width:459px) {
    .contact_title h2 {
        font-size: 1.75rem;
    }

    .contact_title h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:399px) {
    .contact_title h2 {
        font-size: 1.25rem;
    }

    .contact_title h1 {
        font-size: 1.9rem;
    }
}