:root {
    --main: #368F90;
    --secondary: #1F6574;
    --btn-blue: #4F94D7;
    --stars-yellow: #FFC107;
    --testimony-text: #767E86;
}

/* From Branch Top */

#onBording {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#background_peta_indonesia {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    animation: fadeIn 4s;
    opacity: 0;
}
#pOnBoarding{
    min-height: 32px;
}
#hOnBoarding{
    min-height: 60px;
}
#about-us{
    background-image: url(../images/background_pattern.png);
    background-size: contain;
    /* background-repeat: ; */
    background-position:top;
}
.daterangepicker td.active{
    background-color: #1F6574 !important;
}
.applyBtn{
    background-color: #1F6574 !important;
    color: white;
    border-radius: 6px;
    padding: 10px !important;
}

@keyframes loader1 {
    0%{
        transform: translateY(4px);
    }
    50%{
        transform: translateY(-8px);
    }100%{
        transform: translateY(4px);
    }
    /* 100%{
        transform: translateY(5px);
    } */
}
@keyframes loader2 {
    0%{
        transform: translateY(2px);
    }38%{
        transform: translateY(4px);
    }76%{
        transform: translateY(-8px);
    }100%{
        transform: translateY(-4px);
    }
}
.loader-1{
    animation: loader1 600ms infinite;
}
.loader-2{
    animation: loader2 600ms infinite;
}
.loader-3{
    animation: loader1 600ms infinite;
}

.water-backgorund {
    background-image: url(../images/water_backgorund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header .card{
    box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
}

.explore {
    position: relative;
    min-width: 35rem;
}

/* From Branch Bottom */

.destination h1, .destination h2 {
    font-family: Raleway;
}

.destination h2 {
    color: var(--main);
}

.destination_place {
    max-width: 29.25vw;
}

.destination_place p {
    color: var(--secondary);
}

.destination_place p img {
    max-width: 1rem;
    max-height: 1rem;
    margin-right: .5rem;
}

.testimony {
    font-family: Rubik;
}

.testimony h1, .testimony h2 {
    font-family: Raleway;
}

.testimony h2 {
    color: var(--main);
}

.testimony_inner {
    color: var(--testimony-text);
    overflow-x: auto;
    overflow-y: visible;
}

.testimony_inner::-webkit-scrollbar {
    width: 10px;
}

.testimony_inner::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.testimony_inner::-webkit-scrollbar-thumb {
    background-color: #767E8655;
    border-radius: 1rem;
}

.testimony_person {
    position: relative;
    min-width: 35rem;
}

.testimony_person img {
    position: absolute;
    top: -3rem;
    left: 3rem;
    width: 5rem;
    height: auto;
    overflow: visible;
}

.testimony_stars {
    color: var(--stars-yellow);
}

.plan_inner {
    width: max-content;
}

.plan_img {
    position: relative;
    width: 46.5vw;
    height: 95vh;
    margin-right: 1.75rem;
}

.plan_img::before {
    content: "";
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    background-image: url('../images/postcard.png');
    background-size: cover;
}

.plan_inner label {
    width: max-content;
    margin-bottom: .5rem;
}

.plan_inner form {
    width: 45vw;
}

.plan_inner input {
    width: 100%;
}

.plan_inner form button {
    height: 3.5rem;
    background-color: var(--btn-blue);
}

.plan_inner form a {
    color: var(--btn-blue);
}

.plan_form_name input {
    width: 21.5vw;
}

@media (max-width: 1049px) {
    .destination_place {
        max-width: 40vw;
    }

    .plan_inner {
        padding: 1.5rem;
        flex-direction: column;
    }

    .plan_img {
        width: 100%;
        height: 25vh;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .plan_img::before {
        background-position: 50% 75%;
        background-repeat: no-repeat;
    }

    .plan_inner form {
        margin: 0;
        width: 85vw;
    }

    .plan_inner h2, .plan_inner p {
        text-align: center;
    }

    .plan_form_name input {
        width: 40vw;
    }
}

@media (max-width:699px) {
    .destination_place {
        max-width: 85vw;
    }

    .plan_inner form {
        width: 80vw;
    }

    .plan_form_name input {
        width: 37.5vw;
    }
}